# Folders
node_modules

# Files
.prettierrc
.prettierignore
.release-it.json
CHANGELOG.md
LICENSE
README.md
package.json
tsconfig.json
tsup.config.ts

docker-compose.yml
.npmrc
.changeset
.github
.DS_Store
